@use '../abstracts/' as *;

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: $flex-group-gap;
  align-items: center;

  padding-block: size(20);

  &:where(:not(:first-of-type)) {
    @include pseudo {
      inset: 0;
      margin-inline: auto;
      height: 0.065rem;
      width: 50%;
      background-color: clr(neutral, 100);
    }
  }
}
